<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-subtitle>CAMERA <a class="out" (click)="signoutAction()">Signout</a></ion-subtitle>
    </ion-buttons>
    <ion-title><img src="./../assets/img/whereru_logo.png" alt="logo" style="width:56px;" /></ion-title>    
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Misuka</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div id="container">
    <ion-card>
    <ion-card-header>
      <ion-card-title>
        <img src="./../assets/img/whereru_logo_gray.png" alt="logo" style="width:100px;" />
      </ion-card-title>
      <ion-card-subtitle>CAMERA</ion-card-subtitle>        
    </ion-card-header>
    <ion-card-content>
    <ion-item>
      <ion-label>Choose Image</ion-label>
      <ion-select (ngModel)="selectedImg" (ionChange)="changeImg($event);">
        <div *ngFor="let d of allImages">
          <ion-select-option [value]="d">{{d.name}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <div class="hooby" id="myCanvas" class="posr">
      <img [src]="imgValDraw" alt="" class="abs1"/>
      <img [src]="imgVal" alt="" class="abs2"/>
      <span class="abs3">{{tim}}</span>
    </div>

    <!-- facing error -->
    <!-- <canvas #canvasId style="width:500px; 
    height:500px; 
    margin-top: -100px; 
    display: inline-block; 
    position: relative;"
    >
    </canvas> -->
  </ion-card-content>
</ion-card>
    
    
    
</div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button (click)="loadCompeteImage()" class="btn" padding>
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="takeAPicture()" class="btn" padding>
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-footer>
